__pycache__/
*.py[cod]

.venv/
venv/
api/venv/
api/models/venv/

contents.md
api/models/generate_weights.py

api/input/*
!api/input/.gitkeep
api/output/*
!api/output/.gitkeep

api/models/*
!api/models/.gitkeep
